---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import BlogLinks from '../components/BlogLinks.astro';
import Workshops from '../components/Workshops.astro';
import ConferenceTalks from '../components/ConferenceTalks.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <Hero />
  <main>
    <About />
    <BlogLinks />
    <Workshops />
    <ConferenceTalks />
  </main>
  <Footer />
</BaseLayout>
